body {
	margin: 0;
	padding: 0;
}

.menu {
	background-color: #ffffff;
	a {
		color: #343a40;
	}
}

.card {
	background-color: #ffffff;
	.card-body {
		color: #343a40;
		.delete-item {
			cursor: pointer;
		}
	}
}