body {
  margin: 0;
  padding: 0; }

.menu {
  background-color: #ffffff; }
  .menu a {
    color: #343a40; }

.card {
  background-color: #ffffff; }
  .card .card-body {
    color: #343a40; }
    .card .card-body .delete-item {
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
